// ant-default-vars.less
// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// -------- Overwriting -----------
@font-size-base : 16px;
@border-radius-base : 6px;
@border-radius-sm : 3px;
@primary-color: #ff8329;
@font-family: 'Kanit', 'Helvetica', 'Arial', 'sans-serif';
@font-weight: normal;
